DemoApp/DemoApp/DemoApp.Common/bin/*
DemoApp/DemoApp/DemoApp.Common/obj/*
DemoApp/DemoApp/DemoApp.Windows/bin/*
DemoApp/DemoApp/DemoApp.Windows/obj/*
packages/*
DemoApp/DemoApp/DemoApp.Tests/obj/
DemoApp/DemoApp/DemoApp.Tests/bin/
